body{
    background-color: lightblue;
    color:gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    margin:0;
text-align:center
}
.profile{
    width: 40%;
    border-radius: 30px;
}
#bio{
    padding: 50px;
}
.menu{
    width: 100%;
    list-style: none;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    cursor:pointer;
    background-color:red;
}
.links{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-size: 20px;
}
#welcome{
    margin-top: 100px;
}
.links:hover{
    font-size: 25px;
}